PROJECT_NAME=fraudguard
ENVIRONMENT=local

PYTHON_VERSION=>=3.11

MLFLOW_TRACKING_URI=http://localhost:5000

MODEL_NAME=fraudguard-risk-model
MODEL_STAGE=local
MODEL_THRESHOLD=0.5

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

API_HOST=0.0.0.0
API_PORT=8000